:root{
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
}

*, :after, :before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.using-mouse:focus .slider{
    background-color: var(--very-dark-gray);
}



u{
    text-decoration: underline white 2px;
    text-underline-offset: 13px;
}

p{
    color: var(--dark-gray);
}

body{
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top{
    display: flex;
    min-height: 65vh;
}

header{
    min-width: 58vw;
    background: no-repeat center/cover;
    padding: 60px;
    position: relative;
}

header #mobile-menu{
    display: none;
}

header #logo{
    position: absolute;
}

#close{
    display: none;
}
nav li{
    display: inline-block;
    padding: 0 15px;
    text-transform: lowercase;
}
nav ul{
    padding-left: 100px;
    list-style-type: none;
}
a{
    color: var(--white);
    text-decoration: none;
}
nav a:link{
    color: var(--white);
}

article{
    position: relative;
    flex-direction: column;
    padding: 90px 70px 0 90px;
    background: white;
}
article h1{
    font-size: 3em;
    font-weight: 600;
    padding-right: 30px;
}
article p{
    padding: 30px 25px 30px 0;
    line-height: 2em;
}
article .shop{
    position: relative;
    text-transform: uppercase;
    color: var(--black);
    letter-spacing: 10px;
    font-weight: 600;
}
.shop:hover, .shop:focus{
    color: var(--dark-gray);
}
.shop:hover:after, .shop:focus:after{
    filter: invert(67%) sepia(18%) saturate(0%) hue-rotate(243deg) brightness(113%) contrast(69%);
}

article .shop:after{
    position: absolute;
    content: url("../images/icon-arrow.svg");
    
    padding-left: 50px;
}


.slider{
    position: absolute;
    
    bottom: 0;
        
    --size: 83px;
    height: var(--size);
    width: var(--size);
    background: var(--black);
    border: unset;
    cursor: pointer;
    
    z-index: 1;
}
.slider:hover, .slider:active{
    background: var(--very-dark-gray);
}

body.using-keyboard .slider:focus{
    background-color: var(--very-dark-gray);
}

.slider.right{
    right: calc(-2*var(--size))
}
.slider.right:after{
    content: url("../images/icon-angle-right.svg");        
}
.slider.left{
    right: calc(-1*var(--size));
}
.slider.left:after{
    content: url("../images/icon-angle-left.svg");
}

.bottom{
    display: flex;

    min-height: 35vh;
}
.bottom .about{  
    width: 50%;
    padding: 80px 0 0 50px;
}
.about h3{
    text-transform: uppercase;
    letter-spacing: 4px;
}
.about p{
    padding: 20px 10px 0 0;
    line-height: 1.7em;
}




@media only screen and (max-width: 1000px){
    
    @keyframes menu_slide{
        0%{
           top: -100px;
        }
        100%{
           top: 0;
        }
    }
    
    *{
        overflow-x: hidden;
    }
    .top, .bottom{
        flex-direction: column;
        min-height: 50vh;
    }
    
    header{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 360px;
    }    
    header #logo{
        align-self: center;
    }    
    header #mobile-menu{
        display: unset;
        position: absolute;
        left: 20px;
    }
    #mobile-menu:hover{
        cursor: pointer;
    }
    
    nav{
        display: none;
        animation: menu-slide 1s;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        height: 135px;
        min-width: 100vw;
        background: var(--white);
    }
    nav ul{
        padding-left: 60px;
        transform: translateY(3px);
    }
    #close{
        position: absolute;
        z-index: 1;
        left: 22px;
    }
    
    
    .container.darkness *:not(nav, ul, #close, li, nav a, .top, header){
        filter: brightness(70%);
    }
        
    li a{
        color: black;
        font-weight: 700;
    }
    
    .slider{
        transform: scale(0.7) translate(20px, 18px);
    }
    .slider.right{
        left: unset;
        right: 0;
    }
    .slider.left{
        left: unset;
        right: calc(var(--size) - 24px);
    }
    
    article{
        padding: 70px 0 60px 30px;
    }
    article h1{
        font-size: 2em;
    }
    article p{
        padding: 20px 20px 70px 0;
    }
    
    .bottom .about{
        width: 100%;
    }
    .bottom .about{
        padding: 70px 15px 60px 30px;
    }
}